# Aktifkan mod_rewrite
RewriteEngine On

# Pastikan base-nya benar
RewriteBase /pbo/shalwa/

# Jika file atau folder tidak ada...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...arahkan ke index.php
RewriteRule ^ index.php [L]
